body {
  font-family: Arial, sans-serif;
  background-color: Black;
}

h1 {
  color: White;
  text-align: center;
  font-size: 50px;
  
}

p {
  color: Black;
  font-size: 18px;
  text-align: center;
}
